
.about {
    padding: 40px 20px;
    background-color: #f3f4f6;
    text-align: center;
    max-width:1200px;
}

    .about h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .about p {
        font-size: 1.2rem;
        line-height: 1.6;
        max-width: 800px;
        margin: 0 auto;
    }
