.coaches {
    padding: 40px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s;
}

    .card:hover {
        transform: scale(1.05);
    }

.card-img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card-title {
    font-size: 1.5rem;
    margin: 20px 0 10px;
}

.card-description {
    color: #555;
    margin-bottom: 20px;
}
