.coaches {
    padding: 40px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    left:0;
    right:0;
    position:relative;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Отступ между карточками */
}

.card {
    background: #f9f9f9; /* Цвет фона карточки */
    border: 1px solid #ddd; /* Граница карточки */
    border-radius: 10px; /* Скругление углов */
    overflow: hidden; /* Обрезка содержимого, выходящего за пределы карточки */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для карточки */
    width: 300px; /* Ширина карточки */
    transition: transform 0.3s; /* Плавный переход при наведении */
}

    .card:hover {
        transform: scale(1.05); /* Увеличение карточки при наведении */
    }

.card-img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd; /* Разделение изображения и текста */
}

.card-title {
    font-size: 1.5rem;
    margin: 20px 0 10px; /* Отступы для заголовка */
}

.card-description {
    color: #555; /* Цвет описания */
    margin-bottom: 20px; /* Отступ снизу */
}
