.header {
    background-color: #1f1f1f;
    padding: 30px 0;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

    .header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

/* Лого */
.logo a {
    font-size: 3rem; 
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 50px;
}

/* Навигация */
.nav ul {
    display: flex;
    gap: 20px; 
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right:50px;
}

    .nav ul li a {
        font-size: 18px;
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        transition: background 0.3s;
    }

        .nav ul li a:hover {
            text-decoration: underline;
            background-color: #3a3a3a;
            border-radius: 5px;
        }

/* Кнопки аутентификации */
.auth-buttons {
    display: flex;
    gap: 20px;
    margin-left: 50px;
}

    .auth-buttons .btn {
        padding: 12px 25px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 18px;
        transition: background-color 0.3s;
    }

    .auth-buttons .login {
        background-color: #28a745;
        color: white;
    }

        .auth-buttons .login:hover {
            background-color: #218838;
        }

    .auth-buttons .register {
        background-color: #007bff;
        color: white;
    }

        .auth-buttons .register:hover {
            background-color: #0056b3;
        }

/* Бургер меню */
.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

    .burger span {
        background-color: white;
        height: 4px;
        width: 100%;
        border-radius: 2px;
    }

/* Респонсивные стили */
@media (max-width: 768px) {
    .nav ul {
        display: none;
        flex-direction: column;
        background-color: #1f1f1f;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        text-align: right;
    }

        .nav ul li {
            margin-left: 0;
            margin-right: 20px;
            margin-bottom: 10px;
        }
}

@media (max-width: 1024px) {
    .header .container {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}
