/* Стили для главного баннера */
.hero {
    background: url('D:/SportClub/sportclub.client/src/img/gym-banner.jpg') center/cover no-repeat;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
}

/* Центровка элементов внутри hero */
.hero-title, .hero-subtitle, .hero-btn {
    margin: 10px 0;
}
