.section-title {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px; /* Добавьте отступ для лучшего вида */
}

.card {
    background-color: var(--light-color);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-width: 300px; /* Устанавливаем максимальную ширину для карточек */
}
