.schedule {
    padding: 40px 0;
    text-align: left;
}

.schedule-table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
}

    .schedule-table th, .schedule-table td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }

    .schedule-table th {
        background-color: var(--light-color);
    }

    .schedule-table td {
        background-color: #f9f9f9;
    }
