#root {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

@media (min-width: 1280px) {
    #root {
        max-width: 1280px;
    }
}
body {
    font-family: var(--font-family);
    color: var(--dark-color);
    background-color: #202020;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}